# Use most for man instead
# Installed from brew: brew install most
alias man='man -P most'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then
  # Lets use the same for GNU `ls`
  colorflag="--color -Fh"
else
  # Favorite for `ls` native to os x
  colorflag="-FGh"
fi

# List all files colorized in long format
alias ll='ls -l ${colorflag}'

# List all files colorized in long format, even dot files
alias la='ls -a ${colorflag}'

# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Bash directory bookmarking
# m1 will add the bookmark
# g1 will go to that bookmark
#
# A lot of credit to: http://www.huyng.com/posts/quick-bash-tip-directory-bookmarks/
#
alias m1='alias g1="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g1 bookmark"'
alias m2='alias g2="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g2 bookmark"'
alias m3='alias g3="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g3 bookmark"'
alias m4='alias g4="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g4 bookmark"'
alias m5='alias g5="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g5 bookmark"'
alias m6='alias g6="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g6 bookmark"'
alias m7='alias g7="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g7 bookmark"'
alias m8='alias g8="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g8 bookmark"'
alias m9='alias g9="cd `pwd`"; mdump && echo -e "\033[0;32m`pwd`\033[0m saved to g9 bookmark"'
# mbump will preserve the bookmarks
alias mdump='alias|grep -e "alias g[0-9]"|grep -v "alias m" > ~/.bookmarks'
# lma will list the bookmarks
alias lma='alias | grep -e "alias g[0-9]"|grep -v "alias m"|sed "s/alias //"'
touch ~/.bookmarks
source ~/.bookmarks

# Get OS X Updates, and update homebrew
alias update='sudo softwareupdate -i -a; brew update; brew upgrade'

# Lock the screen from commandline
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
